form.signup,
form.login {
  margin-top: 50px;
}


body,html {
  background-image: url(/assets/img/ac030c_b4ab633f467c41078a0a97b1f2ed2682_mv2.gif),url(/assets/img/snowman.jpg);
  background-position: center top;
  background-repeat: repeat-x, no-repeat;
  background-size: 30%, cover;
  height: 100%;
  margin-bottom: 50px,100%;
  font-family: neucha;
  
}

@media screen and (max-width: 5%) {
  button {
    height: auto;
    width: 100%;
  }
}

.jumbotron {
  background: transparent;
}

.display-4 {
  color: red
}

.welcome{
  color: blue
}

.sf-snow-flake {
  position: fixed;
  top: -20px;
  z-index: 99999;
}

.sf-snow-anim {
  top: 110%
}

#logout {
  position: absolute;
  right: 0;
  top: 90px;
  width: 10%;
  margin-right: 30px;
}