<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <button type="button" class="btn btn-danger right" id="logout">Logout</button></div>
<h1 style="text-align:center">Hello Member!</h1>
<h1 style="text-align:center">What word do you want to look up?</h1>


<div class="input-group mb-3">
  <input id="search-input" type="text" class="form-control" placeholder="Search for a Word" aria-label="Recipient's username" aria-describedby="button-addon2" style="margin-left:250px;height:50px;width:40%";>
  <button class="btn btn-outline-secondary" type="button" id="search" style="margin-right:200px;width:10%";>Search</button>  
  </div>
</div>



<script>

  
$('#logout').click(function() {
  console.log("I'm clicked");
    var action = "logout";
    $.ajax({
        url: '/api/logout',
        type:"POST",
    }).then(function() {
      console.log("LOGOUT SUCCESS");
      window.location.replace('/');
    })
  })
$('#search').click(function() {
  console.log("I'm clicked");
  const searchInput = $("#search-input");
  console.log(searchInput.val());
  $.ajax ("/api/search/" + searchInput.val(), { 
    type: "GET",
    }).then(function(word){
      console.log("word",word);
      //return res.json(word)
    })
  })

</script>