<button type="button" class="btn btn-danger right mt-1" id="logout">Logout</button>

<div style="height: 100px"></div>

<div>
    <h1 style="text-align:center">Hello Member!</h1>
    <h2 style="text-align:center">What word do you want to look up?</h2>
</div>


<div class="input-group my-3">
    <input id="search-input" type="text" class="form-control" placeholder="Search for a Word"
           aria-label="Recipient's username" aria-describedby="button-addon2" style="margin-left:250px;height:50px;width:40%">
    <button class="btn btn-outline-secondary" type="button" id="search" style="margin-right:200px;width:10%">Search
    </button>
</div>

<div id="word-container">
    <div class="card" style="text-align:center;margin:auto;width:50%;">
        <h5 class="card-header">Example:</h5>
        <div class="card-body">
            <p class="card-text">a representative form or pattern</p>
            <p class="card-text">ɪɡ'zæmpəl</p>
            <p class="card-text">model</p>
        </div>
    </div>
</div>


<script>
    $('#logout').click(function () {
        $.ajax({
            url: '/api/logout',
            type: "POST",
        }).then(function () {
            window.location.replace('/');
        })
    });

    $('#search').click(function () {
        const searchInput = $("#search-input");
        $.ajax("/api/search/" + searchInput.val(), {
            type: "GET",
        }).then(function (word) {
            let wordElement = $(`<div class="card" style="text-align:center;margin:auto;width:50%;">
    <h5 class="card-header">${word.name}</h5>
    <div class="card-body">
      <p class="card-text">${word.Definitions[0].data.definition}</p>
      <p class="card-text">${word.pronunciation}</p>
      <p class="card-text">${word.synonyms}</p>
    </div>
  </div>`);
            let wordContainer = $("#word-container");
            wordContainer.empty();
            wordContainer.append(wordElement);
        })
    })
</script>