form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-image: url(/Users/jinchoo/Desktop/Projects/Project-2/snowman.jpg);
  background-position: right bottom;
  background-size: 50%;
}

body {
  background-image: url(/Users/jinchoo/Desktop/Projects/Project-2/animated-christmas-lights.gif),url(/Users/jinchoo/Desktop/Projects/Project-2/snowman.jpg);
  background-position: center top, right bottom;
  background-repeat: no-repeat;
  background-size: 30%, 100% 100%;
  background: transparent, none;
}

.jumbotron {
  background: transparent;
}

.display-4 {
  color: red
}

.welcome{
  color: blue
}